// COLOR // shadow // A Garder ou unifier avec les var $box-shadow ?
$shadow-lightest:                       rgba($black, 0.1) ;
$shadow-light:                          rgba($black, 0.3) ;
$shadow:                                rgba($black, 0.6) ;
$shadow-dark:                           rgba($black, 0.8) ;

$deepBlue: #0984b3;

// Body
$body-bg:                               $gray-100 ;
$body-color:                            $gray-700 ;

$text-light:                            $gray-300 ;
$text-lightest:                         $white ;
$text-color:                            $gray-800 ;

// Grid breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) ;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ) ; // A CHANGER ?

// @include _assert-ascending($container-max-widths, "$container-max-widths");

// Components
$border-radius-sm:                      5px ;
$border-radius:                         5px ;
$border-radius-lg:                      10px ;

$component-active-bg:                   theme-color("secondary") ;


// Typography
$font-family-sans-serif:                "Roboto", sans-serif ;

$line-height-base:                      1.6 ;

// $h1-font-size:                          $font-size-base * 2.5 ;
// $h2-font-size:                          $font-size-base * 2 ;
// $h3-font-size:                          $font-size-base * 1.75 ;
// $h4-font-size:                          $font-size-base * 1.5 ;
// $h5-font-size:                          $font-size-base * 1.25 ;
// $h6-font-size:                          $font-size-base ;

// Tables
$table-head-bg:                         $gray-100 ;
$table-head-color:                      $gray-800 ;

$table-dark-color:                      $gray-100 ;
$table-dark-bg:                         $gray-800 ;

// Buttons + Forms
$input-btn-font-family:                 "Roboto" ;

// Buttons
// $btn-border-radius:                     $border-radius ;
// $btn-border-radius-lg:                  $border-radius-lg ;
// $btn-border-radius-sm:                  $border-radius-sm ;

// Forms
$input-border-color:                    $gray-300 ;

// $input-border-radius:                   $border-radius ;
// $input-border-radius-lg:                $border-radius-lg ;
// $input-border-radius-sm:                $border-radius-sm ;

$input-focus-border-color:              $secondary ;

// Dropdowns
$dropdown-link-color:                   $gray-700 ;
$dropdown-link-hover-color:             darken($gray-900, 5%) ;
$dropdown-link-hover-bg:                rgba($secondary, 0.1) ;

$dropdown-link-disabled-color:          $gray-600 ;

// Cards
$card-spacer-y:                         25px ; //? perso ou pas ?
$card-spacer-x:                         35px ; //? perso ou pas ?
$card-min-height:                       110px; //? perso ou pas ?
$card-width:                            265px; //? perso ou pas ?

// Tooltips
// $tooltip-max-width:                     200px ;
// $tooltip-color:                         $white ;
// $tooltip-bg:                            $black ;
// $tooltip-opacity:                       .9 ;

// Badges
$badge-font-size:                       80% ; //? perso ou pas ?

// Modals
// $modal-backdrop-bg:                 $black ;
// $modal-backdrop-opacity:            .65 ;
// $modal-header-border-color:         $border-color ;
// $modal-footer-border-color:         $modal-header-border-color ;
// $modal-header-border-width:         $modal-content-border-width ;
// $modal-footer-border-width:         null ;

// Alerts
$alert-bg-level:                        -10 ;
$alert-border-level:                    -7 ;
$alert-color-level:                     5 ;

// Image thumbnails
$thumbnail-bg:                          $white ;

$applications: (
    "competences" : (
        "color" : $red,
        "glyph": '\e927'
    ),
    "cahier-textes" : (
        "color" : $red,
        "glyph": '\e86f'
    ),
    "poll" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "rack" : (
        "color" : $red,
        "glyph": '\e80d'
    ),
    "rbs" : (
        "color" : $red,
        "glyph": '\e80e'
    ),
    "searchengine" : (
        "color" : $red,
        "glyph": '\e8d0'
    ),
    "sharebigfiles" : (
        "color" : $red,
        "glyph": '\e8cb'
    ),
    "schoolbook" : (
        "color" : $red,
        "glyph": '\e91e'
    ),
    "archive" : (
        "color" : $red,
        "glyph": '\e81d'
    ),
    "admin" : (
        "color" : $red,
        "glyph": '\e81a'
    ),
    "cahier-de-texte" : (
        "color" : $red,
        "glyph": '\e910'
    ),
    "wiki" : (
        "color" : $purple,
        "glyph": '\e813'
    ),
    "cns" : (
        "color" : $red,
        "glyph": '\e88a'
    ),
    "conversation" : (
        "color" : $red,
        "glyph": '\e804'
    ),
    "paths" : (
        "color" : $red,
        "glyph": '\e94d'
    ),
    "notebook" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "scrap-book" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "blog" : (
        "color" : $indigo,
        "glyph": '\e809'
    ),
    "account" : (
        "color" : $red,
        "glyph": '\e905'
    ),
    "support" : (
        "color" : $red,
        "glyph": '\e835'
    ),
    "workspace" : (
        "color" : $red,
        "glyph": '\e81b'
    ),
    "admin-portal" : (
        "color" : $red,
        "glyph": '\e908'
    ),
    "stats" : (
        "color" : $red,
        "glyph": '\e909'
    ),
    "userbook" : (
        "color" : $red,
        "glyph": '\e811'
    ),
    "mindmap" : (
        "color" : $cyan,
        "glyph": '\e859'
    ),
    "timelinegenerator" : (
        "color" : $yellow,
        "glyph": '\e819'
    ),
    "actualites" : (
        "color" : $indigo,
        "glyph": '\e85b'
    ),
    "pad" : (
        "color" : $red,
        "glyph": '\e829'
    ),
    "settings-class" : (
        "color" : $red,
        "glyph": '\e942'
    ),
    "library" : (
        "color" : $red,
        "glyph": '\e94c'
    ),
    "visioconf" : (
        "color" : $pink,
        "glyph": '\e957'
    ),
    "Web-conference" : (
        "color" : $red,
        "glyph": '\e957'
    ),
    "notes" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "attendance" : (
        "color" : $red,
        "glyph": '\e80b'
    ),
    "exercizer" : (
        "color" : $purple,
        "glyph": '\e833'
    ),
    "calendar" : (
        "color" : $red,
        "glyph": '\e834'
    ),
    "collaborative-wall" : (
        "color" : $red,
        "glyph": '\e800'
    ),
    "statistics" : (
        "color" : $red,
        "glyph": '\e810'
    ),
    "polls" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "community" : (
        "color" : $red,
        "glyph": '\e814'
    ),
    "forum" : (
        "color" : $red,
        "glyph": '\e81e'
    ),
    "pages" : (
        "color" : $red,
        "glyph": '\e927'
    ),
    "website" : (
        "color" : $red,
        "glyph": '\e94a'
    ),
    "parametrage" : (
        "color" : $red,
        "glyph": '\e92f'
    ),
    "video" : (
        "color" : $red,
        "glyph": '\e872'
    ),
    "kne" : (
        "color" : $red,
        "glyph": '\e81f'
    ),
    "sacoche" : (
        "color" : $red,
        "glyph": '\e899'
    ),
);