// COLOR // shadow // A Garder ou unifier avec les var $box-shadow ?
$shadow-lightest:                       rgba(#000, 0.1);
$shadow-light:                          rgba(#000, 0.3);
$shadow:                                rgba(#000, 0.6);
$shadow-dark:                           rgba(#000, 0.8);

// Body
$body-bg:                               $gray-100;
$body-color:                            $gray-700;

$text-light:                            $gray-300;
$text-lightest:                         $white;
$text-color:                            $gray-800;

$link-decoration:                       none !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   2.5 !default;

// Grid breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Components
$border-radius-sm:                      5px ;
$border-radius:                         5px ;
$border-radius-lg:                      10px ;

// Typography
$font-family-sans-serif:                "Roboto", sans-serif ;

$line-height-base:                      1.6 ;


// Tables
$table-head-bg:                         $gray-100 ;
$table-head-color:                      $gray-800 ;

$table-dark-color:                      $gray-100 ;
$table-dark-bg:                         $gray-800 ;

// Buttons + Forms
$input-btn-font-family:                 "Roboto" ;

// Forms
$input-border-color:                    $gray-300 !default;
$input-focus-border-color:              $secondary !default;

// Dropdowns
$dropdown-link-color:                   $gray-700 !default;
$dropdown-link-hover-color:             darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:                rgba($secondary, 0.1) !default;


// Cards
$card-spacer-y:                         25px !default; //? perso ou pas ?
$card-spacer-x:                         35px !default; //? perso ou pas ?
$card-min-height:                       110px !default; //? perso ou pas ?
$card-width:                            265px !default; //? perso ou pas ?

// Tooltips
// $tooltip-max-width:                     200px !default;
// $tooltip-color:                         $white !default;
// $tooltip-bg:                            $black !default;
// $tooltip-opacity:                       .9 !default;

// Badges
$badge-font-size:                       80% !default; //? perso ou pas ?

// Modals
$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .65 !default;
$modal-footer-border-width:         0 !default;
$modal-header-border-width:         0 !default;

// Image thumbnails
$thumbnail-bg:                          $white !default;

$applications: (
    "competences" : (
        "color" : $red,
        "glyph": '\e927'
    ),
    "cahier-textes" : (
        "color" : $red,
        "glyph": '\e86f'
    ),
    "poll" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "rack" : (
        "color" : $red,
        "glyph": '\e80d'
    ),
    "rbs" : (
        "color" : $red,
        "glyph": '\e80e'
    ),
    "searchengine" : (
        "color" : $red,
        "glyph": '\e8d0'
    ),
    "sharebigfiles" : (
        "color" : $red,
        "glyph": '\e8cb'
    ),
    "schoolbook" : (
        "color" : $red,
        "glyph": '\e91e'
    ),
    "archive" : (
        "color" : $red,
        "glyph": '\e81d'
    ),
    "admin" : (
        "color" : $red,
        "glyph": '\e81a'
    ),
    "cahier-de-texte" : (
        "color" : $red,
        "glyph": '\e910'
    ),
    "wiki" : (
        "color" : $purple,
        "glyph": '\e813'
    ),
    "cns" : (
        "color" : $red,
        "glyph": '\e88a'
    ),
    "conversation" : (
        "color" : $red,
        "glyph": '\e804'
    ),
    "paths" : (
        "color" : $red,
        "glyph": '\e94d'
    ),
    "notebook" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "scrap-book" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "blog" : (
        "color" : $indigo,
        "glyph": '\e809'
    ),
    "account" : (
        "color" : $red,
        "glyph": '\e905'
    ),
    "support" : (
        "color" : $red,
        "glyph": '\e835'
    ),
    "workspace" : (
        "color" : $red,
        "glyph": '\e81b'
    ),
    "admin-portal" : (
        "color" : $red,
        "glyph": '\e908'
    ),
    "stats" : (
        "color" : $red,
        "glyph": '\e909'
    ),
    "userbook" : (
        "color" : $red,
        "glyph": '\e811'
    ),
    "mindmap" : (
        "color" : $cyan,
        "glyph": '\e859'
    ),
    "timelinegenerator" : (
        "color" : $yellow,
        "glyph": '\e819'
    ),
    "actualites" : (
        "color" : $indigo,
        "glyph": '\e85b'
    ),
    "pad" : (
        "color" : $red,
        "glyph": '\e829'
    ),
    "settings-class" : (
        "color" : $red,
        "glyph": '\e942'
    ),
    "library" : (
        "color" : $red,
        "glyph": '\e94c'
    ),
    "visioconf" : (
        "color" : $pink,
        "glyph": '\e957'
    ),
    "Web-conference" : (
        "color" : $red,
        "glyph": '\e957'
    ),
    "notes" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "attendance" : (
        "color" : $red,
        "glyph": '\e80b'
    ),
    "exercizer" : (
        "color" : $purple,
        "glyph": '\e833'
    ),
    "calendar" : (
        "color" : $red,
        "glyph": '\e834'
    ),
    "collaborative-wall" : (
        "color" : $red,
        "glyph": '\e800'
    ),
    "statistics" : (
        "color" : $red,
        "glyph": '\e810'
    ),
    "polls" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "community" : (
        "color" : $red,
        "glyph": '\e814'
    ),
    "forum" : (
        "color" : $red,
        "glyph": '\e81e'
    ),
    "pages" : (
        "color" : $red,
        "glyph": '\e927'
    ),
    "website" : (
        "color" : $red,
        "glyph": '\e94a'
    ),
    "parametrage" : (
        "color" : $red,
        "glyph": '\e92f'
    ),
    "video" : (
        "color" : $red,
        "glyph": '\e872'
    ),
    "kne" : (
        "color" : $red,
        "glyph": '\e81f'
    ),
    "sacoche" : (
        "color" : $red,
        "glyph": '\e899'
    ),
);