/* prettier-ignore */
$icons-interface: (
    "apps"          : ( "glyph": "\e86c"),
    "close"         : ( "glyph": "\e866"),
    "community"     : ( "glyph": "\e814"),
    "conversation"  : ( "glyph": "\e804"),
    "disconnect"    : ( "glyph": "\e842"),
    "help"          : ( "glyph": "\e835"),
    "home"          : ( "glyph": "\e82b"),
    "search"        : ( "glyph": "\e8d0"),
    "star"          : ( "glyph": "\e9d9"),
    "plus"          : ( "glyph": "\e85e"),
    "minus"         : ( "glyph": "\e95b"),
    "user"          : ( "glyph": "\e905"),
    "users"         : ( "glyph": "\e822"),
    "public"        : ( "glyph": "\e8d1"),
    "share"         : ( "glyph": "\e815"),
    "view"          : ( "glyph": "\e873"),
    "comment"       : ( "glyph": "\e8d2"),
    "chevron-right" : ( "glyph": "\e823"),
    "grid"          : ( "glyph": "\e940"),
    "list"          : ( "glyph": "\e84f"),
    "folder"        : ( "glyph": "\e846"),
    "burger"        : ( "glyph": "\e956"),
    "timer-off"     : ( "glyph": "\e426"),
    "nobody"        : ( "glyph": "\e901"),
    "grades"        : ( "glyph": "\e614"),
    "homeworks"     : ( "glyph": "\e86f"),
    "trending-up"   : ( "glyph": "\e8e5"),
    "tools"         : ( "glyph": "\e855"),
    "rss"           : ( "glyph": "\e861"),
    "signets"       : ( "glyph": "\e80c"),
    "microphone"    : ( "glyph": "\e864"),
    "carnet-de-bord": ( "glyph": "\e902"),
) !default;

$icons-widgets: (
    "actualites":       ("glyph": "\e85b"),
    "aide-devoirs":     ("glyph": "\e818"),
    "agenda":           ("glyph": "\e83c"),
    "apps":             ("glyph": "\e86c"),
    "bookmark-empty":   ("glyph": "\e888"),
    "calendar":         ("glyph": "\e834"),
    "carnet-de-bord":   ("glyph": "\e902"),
    "microphone":       ("glyph": "\e864"),
    "maxicours":        ("glyph": "\e825"),
    "mood":             ("glyph": "\e811"),
    "notes":            ("glyph": "\e806"),
    "rss":              ("glyph": "\e861"),
    "qwant":            ("glyph": "\e93d"),
    "schoolbook":       ("glyph": "\e95a"),
    "signets":          ("glyph": "\e80c"),
) !default;

$icons-applications: (
    "account":             ( "color": $purple, "glyph": "\e905"),
    "actualites":          ( "color": $cyan,   "glyph": "\e85b"),
    "admin-portal":        ( "color": $red,    "glyph": "\e908"),
    "admin":               ( "color": $yellow, "glyph": "\e81a"),
    "archive":             ( "color": $yellow, "glyph": "\e81d"),
    "attendance":          ( "color": $red,    "glyph": "\e80b"),
    "blog":                ( "color": $indigo, "glyph": "\e809"),
    "cahier-de-texte":     ( "color": $teal,   "glyph": "\e910"),
    "cahier-textes":       ( "color": $teal,   "glyph": "\e86f"),
    "calendar":            ( "color": $yellow, "glyph": "\e834"),
    "canal-numerique":     ( "color": $cyan,   "glyph": "\e80a"),
    "cns":                 ( "color": $teal,   "glyph": "\e88a"),
    "collaborative-wall":  ( "color": $teal,   "glyph": "\e800"),
    "collaborativeeditor": ( "color": $cyan,   "glyph": "\e829"),
    "community":           ( "color": $purple, "glyph": "\e814"),
    "competences":         ( "color": $red,    "glyph": "\e927"),
    "conversation":        ( "color": $yellow, "glyph": "\e804"),
    "directory":           ( "color": $teal,   "glyph": "\e811"),
    "exercizer":           ( "color": $purple, "glyph": "\e833"),
    "qwant":               ( "color": $pink,   "glyph": "\e93d"),
    "forum":               ( "color": $cyan,   "glyph": "\e81e"),
    "library":             ( "color": $yellow, "glyph": "\e94c"),
    "mindmap":             ( "color": $cyan,   "glyph": "\e859"),
    "notebook":            ( "color": $teal,   "glyph": "\e8d4"),
    "notes":               ( "color": $yellow, "glyph": "\e806"),
    "pad":                 ( "color": $cyan,   "glyph": "\e829"),
    "pages":               ( "color": $red,    "glyph": "\e876"),
    "parametrage":         ( "color": $red,    "glyph": "\e92f"),
    "parcours":            ( "color": $orange, "glyph": "\e94d"),
    "paths":               ( "color": $orange, "glyph": "\e94d"),
    "poll":                ( "color": $cyan,   "glyph": "\e832"),
    "polls":               ( "color": $cyan,   "glyph": "\e832"),
    "rack":                ( "color": $red,    "glyph": "\e80d"),
    "rbs":                 ( "color": $pink,   "glyph": "\e80e"),
    "schoolbook":          ( "color": $teal,   "glyph": "\e91e"),
    "scrap-book":          ( "color": $teal,   "glyph": "\e8d4"),
    "scrapbook":           ( "color": $teal,   "glyph": "\e8d4"),
    "searchengine":        ( "color": $cyan,   "glyph": "\e8d0"),
    "settings-class":      ( "color": $yellow, "glyph": "\e942"),
    "sharebigfiles":       ( "color": $purple, "glyph": "\e8cb"),
    "statistics":          ( "color": $purple, "glyph": "\e810"),
    "stats":               ( "color": $purple, "glyph": "\e909"),
    "support":             ( "color": $teal,   "glyph": "\e835"),
    "timeline":            ( "color": $indigo, "glyph": "\e854"),
    "timelinegenerator":   ( "color": $yellow, "glyph": "\e819"),
    "userbook":            ( "color": $teal,   "glyph": "\e811"),
    "video":               ( "color": $cyan,   "glyph": "\e872"),
    "visioconf":           ( "color": $cyan,   "glyph": "\e957"),
    "Web-conference":      ( "color": $cyan,   "glyph": "\e957"),
    "website":             ( "color": $cyan,   "glyph": "\e90a"),
    "wiki":                ( "color": $purple, "glyph": "\e813"),
    "workspace":           ( "color": $red,    "glyph": "\e81b"),
) !default;

$applications: (
    "competences" : (
        "color" : $red,
        "glyph": '\e927'
    ),
    "cahier-textes" : (
        "color" : $teal,
        "glyph": '\e86f'
    ),
    "poll" : (
        "color" : $red,
        "glyph": '\e832'
    ),
    "rack" : (
        "color" : $red,
        "glyph": '\e80d'
    ),
    "rbs" : (
        "color" : $pink,
        "glyph": '\e80e'
    ),
    "searchengine" : (
        "color" : $red,
        "glyph": '\e8d0'
    ),
    "sharebigfiles" : (
        "color" : $purple,
        "glyph": '\e8cb'
    ),
    "schoolbook" : (
        "color" : $teal,
        "glyph": '\e91e'
    ),
    "archive" : (
        "color" : $yellow,
        "glyph": '\e81d'
    ),
    "admin" : (
        "color" : $yellow,
        "glyph": '\e81a'
    ),
    "cahier-de-texte" : (
        "color" : $teal,
        "glyph": '\e910'
    ),
    "wiki" : (
        "color" : $purple,
        "glyph": '\e813'
    ),
    "cns" : (
        "color" : $teal,
        "glyph": '\e88a'
    ),
    "conversation" : (
        "color" : $yellow,
        "glyph": '\e804'
    ),
    "paths" : (
        "color" : $orange,
        "glyph": '\e94d'
    ),
    "parcours" : (
        "color" : $orange,
        "glyph": '\e94d'
    ),
    "notebook" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "scrap-book" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "scrapbook" : (
        "color" : $teal,
        "glyph": '\e8d4'
    ),
    "blog" : (
        "color" : $indigo,
        "glyph": '\e809'
    ),
    "account" : (
        "color" : $red,
        "glyph": '\e905'
    ),
    "support" : (
        "color" : $teal,
        "glyph": '\e835'
    ),
    "workspace" : (
        "color" : $red,
        "glyph": '\e81b'
    ),
    "admin-portal" : (
        "color" : $red,
        "glyph": '\e908'
    ),
    "stats" : (
        "color" : $purple,
        "glyph": '\e909'
    ),
    "userbook" : (
        "color" : $teal,
        "glyph": '\e811'
    ),
    "userbook_mood" : (
        "color" : $teal,
        "glyph": '\e811'
    ),
    "userbook_motto" : (
        "color" : $teal,
        "glyph": '\e811'
    ),
    "directory" : (
        "color" : $teal,
        "glyph": '\e811'
    ),
    "mindmap" : (
        "color" : $cyan,
        "glyph": '\e859'
    ),
    "timeline" : (
        "color" : $yellow,
        "glyph": '\e819'
    ),
    "timelinegenerator" : (
        "color" : $yellow,
        "glyph": '\e819'
    ),
    "actualites" : (
        "color" : $cyan,
        "glyph": '\e85b'
    ),
    "pad" : (
        "color" : $cyan,
        "glyph": '\e829'
    ),
    "collaborativeeditor" : (
        "color" : $cyan,
        "glyph": '\e829'
    ),
    "settings-class" : (
        "color" : $yellow,
        "glyph": '\e942'
    ),
    "library" : (
        "color" : $yellow,
        "glyph": '\e94c'
    ),
    "visioconf" : (
        "color" : $purple,
        "glyph": '\e957'
    ),
    "Web-conference" : (
        "color" : $red,
        "glyph": '\e957'
    ),
    "notes" : (
        "color" : $yellow,
        "glyph": '\e806'
    ),
    "attendance" : (
        "color" : $red,
        "glyph": '\e80b'
    ),
    "exercizer" : (
        "color" : $purple,
        "glyph": '\e833'
    ),
    "calendar" : (
        "color" : $yellow,
        "glyph": '\e834'
    ),
    "canal-numerique" : (
        "color" : $cyan,
        "glyph": '\e80a'
    ),
    "collaborative-wall" : (
        "color" : $teal,
        "glyph": '\e800'
    ),
    "statistics" : (
        "color" : $purple,
        "glyph": '\e810'
    ),
    "polls" : (
        "color" : $cyan,
        "glyph": '\e832'
    ),
    "community" : (
        "color" : $purple,
        "glyph": '\e814'
    ),
    "forum" : (
        "color" : $cyan,
        "glyph": '\e81e'
    ),
    "pages" : (
        "color" : $red,
        "glyph": '\e927'
    ),
    "website" : (
        "color" : $red,
        "glyph": '\e90a'
    ),
    "parametrage" : (
        "color" : $red,
        "glyph": '\e92f'
    ),
    "video" : (
        "color" : $red,
        "glyph": '\e872'
    ),
    "kne" : (
        "color" : $red,
        "glyph": '\e81f'
    ),
    "sacoche" : (
        "color" : $red,
        "glyph": '\e899'
    ),
    
) !default;
