// A revoir, à compléter, à optimiser
//Note Julien -> appliquer ce type de transition à l'ensemble des propriétés provoque des mouvements au chargement de la page
.transition-hover-fast {
  transition-timing-function: ease;
  transition-duration: .25s;
  transition-property: all;
}
.transition-hover {
  transition-timing-function: ease;
  transition-duration: .5s;
  transition-property: all;
}
.transition-hover-slow {
  transition-timing-function: ease;
  transition-duration: .75s;
  transition-property: all;
}
.transition-hover-very-slow {
  transition-timing-function: ease;
  transition-duration: .75s;
  transition-property: all;
}

/**
 * https://easings.net/
 */
$easeInSine: cubic-bezier(.47, 0, .745, .715);
$easeOutSine: cubic-bezier(.39, .575, .565, 1);
$easeInOutSine: cubic-bezier(.39, .575, .565, 1);

$easeInQuad: cubic-bezier(.55, .085, .68, .53);
$easeOutQuad: cubic-bezier(.25, .46, .45, .94);
$easeInOutQuad: cubic-bezier(.25, .46, .45, .94);

$easeInCubic: cubic-bezier(.55, .055, .675, .19);
$easeOutCubic: cubic-bezier(.215, .61, .355, 1);
$easeInOutCubic: cubic-bezier(.215, .61, .355, 1);

$easeInQuart: cubic-bezier(.895, .03, .685, .22);
$easeOutQuart: cubic-bezier(.165, .84, .44, 1);
$easeInOutQuart: cubic-bezier(.165, .84, .44, 1);

$easeInQuint: cubic-bezier(.755, .05, .855, .06);
$easeOutQuint: cubic-bezier(.23, 1, .32, 1);
$easeInOutQuint: cubic-bezier(.23, 1, .32, 1);

$easeInExpo: cubic-bezier(.95, .05, .795, .035);
$easeOutExpo: cubic-bezier(.19, 1, .22, 1);
$easeInOutExpo: cubic-bezier(.19, 1, .22, 1);

$easeInCirc: cubic-bezier(.6, .04, .98, .335);
$easeOutCirc: cubic-bezier(.075, .82, .165, 1);
$easeInOutCirc: cubic-bezier(.075, .82, .165, 1);

$easeInBack: cubic-bezier(.6, -.28, .735, .045);
$easeOutBack: cubic-bezier(.175, .885, .32, 1.275);
$easeInOutBack: cubic-bezier(.68, -.55, .265, 1.55);

$easeInOutFast: cubic-bezier(1, 0, 0, 1);

$authenticMotion: cubic-bezier(.4, 0, .2, 1);

$default-easing: $easeInOutQuad;
$default-duration: .4s;

//Mixins

@mixin add-transitions($properties...) {
  transition-timing-function: $default-easing;
  transition-duration: $default-duration;
  transition-property: $properties;
  &:hover {
    @content;
  }
}

@mixin background-color-to($color: $primary, $duration: $default-duration, $easing: $default-easing) {
  transition: background-color $duration $easing;
  &:hover {
    background-color: $color;
  }
}
@mixin color-to($color: $primary, $duration: .2s, $easing: $default-easing) {
  transition: color $duration $easing;
  &:hover {
    color: $color;
  }
}
@mixin decoration-to($state: "underline") {
  &:hover {
    text-decoration: $state;
  }
}
