//Widget RSS
.widget-rss {
  .rss-feed {
    .feed-title {
      @include append-icon("\f0d7", 1em, 15px) cursor: pointer;
      padding: 8px $widget-padding-x;
      font-weight: 700;
      color: white;
      background: $third;
    }

    .item {
      &:nth-child(2n) {
        background: rgba($third, .07);
      }

      a {
        @include background-color-to($gray-100, .4s, $easeOutQuad);
        display: block;
        padding: 10px $widget-padding-x;
        text-decoration: none;
      }
    }
  }
}
