.filters {
  .btn {
    color: $gray-600;
    box-shadow: none;
    &.inactive {
      color: $gray-400;
    }
  }

  &.filters-chips {
    margin-bottom: 1em;

    &:hover {
      color: unset;
      background-color: transparent;
    }

    .filter {
      @include add-transitions(background-color, color);
      position: relative;
      display: inline-block;
      padding: 3px 15px;
      overflow: hidden;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      background-color: white;
      border: 1px solid currentColor;
      border-radius: 20px;

      &.visible {
        display: block;
      }

      &.active {

        //@include append-icon("\f00d", 1em, 10px, #fff);
        background-color: currentColor !important;
        //color: #fff;
        //padding-right: 40px!important;
        .icon,
        .label {
          color: #fff;
        }
      }

      .hidden-checkbox {
        display: none;
      }

      .icon {
        @include square(1.5em);
        position: relative;
        z-index: 2;
        display: inline-block;
        color: inherit;
        vertical-align: middle;
      }

      .label {
        position: relative;
        z-index: 2;
        display: inline-block;
        padding-top: 2px;
        font-size: 1em;
        vertical-align: middle;
      }

    }
  }
}
