.filters {
    .btn {
        color: $gray-600;
        box-shadow: none;

        &.inactive {
            color: $gray-400;
        }
    }
}

.filters-chips {
    margin-bottom: 1em;

    &:hover {
        color: unset;
        background-color: transparent;
    }

    .filter {
        position: relative;
        display: inline-block;
        padding: 3px 15px;
        overflow: hidden;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid currentColor;
        border-radius: 20px;

        @include add-transitions(background-color, color);

        &.visible {
            display: block;
        }

        &.active {
            background-color: currentColor !important;

            .icon,
            .label {
                color: #fff;
            }
        }

        .hidden-checkbox {
            display: none;
        }

        .icon {
            position: relative;
            z-index: 2;
            display: inline-block;
            color: inherit;
            vertical-align: middle;

            @include square(1.5em);
        }

        .label {
            position: relative;
            z-index: 2;
            display: inline-block;
            padding-top: 2px;
            font-size: 1em;
            vertical-align: middle;
        }
    }
}
