.input-group {
  .btn {
    box-shadow: none !important;
  }
}

.form-control::placeholder {
  font-style: italic;
}

.input-searchbar {
  .ic-search {
    position: absolute;
    top: 7px;
    left: 30px;
    color: $gray-500;
  }
  .ic-search + input {
    padding-left: 40px;
  }
}
