.input-group {
  .btn {
    box-shadow: none !important;
  }
}

.form-control::placeholder {
  font-style: italic;
}

.input-searchbar {
    position: relative;
    .ic-search {
        position: absolute;
        left: 20px;
        top: 5px;
        color: $gray-500;
    }
    .ic-search + input {
        padding-left: 40px;
    }
}
