.input-group {
    .btn {
        box-shadow: none !important;
    }
}

.form-control::placeholder {
    font-style: italic;
}

.input-searchbar {
    position: relative;

    .ic-search {
        position: absolute;
        top: 5px;
        left: 20px;
        color: $gray-500;
    }

    .ic-search + input {
        padding-left: 40px;
    }
}
