.list {
  &-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bold;
    color: $gray-600;
    padding: 5px 15px;
    .list__item--preview {
      width: 40px;
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $gray-200;
    margin: 5px 0;
    padding: 5px 15px;
    border-radius: $border-radius-lg;
    color: $gray-600;
    font-size: 1.4rem;
    cursor: pointer;
    @extend .transition-hover;
    &:hover {
      border-color: $secondary;
      @extend .transition-hover-fast;
    }
    &:active,
    &.active {
      border-color: $secondary;
      background-color: rgba($secondary, 0.1);
    }
    .list-item-preview {
      width: 40px;
      vertical-align: middle;
      font-size: 1.6rem;
      text-align: center;
    }
    .list-title {
      font-size: 1.6rem;
      font-weight: bold;
      color: $gray-700;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .list-image {
      width: 30px;
      height: 30px;
      border-radius: $border-radius;
      margin-right: 5px;
    }
    .list-status {
      text-align: right;
      font-size: 1.6rem;
      padding-right: 10px;
      > * {
        margin: 0 5px;
      }
    }
    .list-modifiedBy {
      font-size: 1.2rem;
    }
  }
  &-title {
    width: calc(100% - 450px);
  }
  &-status {
    width: 75px;
  }
  &-owner {
    width: 200px;
  }
  &-modification {
    width: 175px;
  }
}

@include media-breakpoint-down(sm) {
  .explorer__view.list {
    padding: 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .list {
    &-header {
      display: none;
    }
   &-item {
     flex-wrap: wrap;
     padding: 10px;
     margin: 10px 0;
     border-color: $gray-300;
     .list-title {
       width: calc(100% - 40px); // 100% - .list__item--preview
     }
     .list-status {
       display: none;
     }
     .list-owner {
       width: 55%;
     }
     .list-modification {
       width: 45%;
       text-align: right;
     }
     .list-modifiedBy {
       display: none;
     }
   }
  }
}