.media-library {
  width: calc(100% - 250px);
  padding: 10px;
  .item {
    border-radius: $border-radius;
    width: calc(20% - 10px);
    text-align: center;
    padding: 10px;
    margin: 1px;
    &:hover {
      background-color: rgba($secondary, .1);
      .figure-caption {
        color: $secondary;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .media-library {
    width: 100%;
    .item {
      width: calc(50% - 10px);
    }
  }
}