/* DOCUMENTATION
<aside class="sidebar sidebar-left">
  <h1 class="sidebar-title">Titre de l'application</h1>
  <ul class="sidebar-tree">
    <li>
      <input type="checkbox" id="" />
      <label for=""><a href="">Mes ressources</a></label>
      <ul>
        <li><a href="">Dossier 1</a></li>
        <li>
          <input type="checkbox" id="" />
          <label for=""><a href="">Dossier 2</a></label>
          <ul>
            <li><a href="">Sous-dossier 1</a></li>
            <li><a href="">Sous-dossier 2</a></li>
            <li><a href="">Sous-dossier 3</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Ma corbeille</li>
  </ul>
  <a class="btn-secondary btn-block">Créer un dossier</a>
  <a class="btn-secondary btn-block">Importer</a>
</aside>
<main class="main-content"></main>
END DOCUMENTATION */

/* VARIABLES */
$sidebar-width: 250px;

/* COMPONENT */
/* aside */
.sidebar {
  width: $sidebar-width;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  color: $gray-700;
  background-color: rgba($white, .7);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, .05);
  &-title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: $secondary;
  }
  &-tree {
    max-height: calc(100vh - 220px);
    padding-right: 5px;
    padding-left: 0;
    margin-left: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $gray-500 $gray-200;
    ul {
      padding-left: 10px;
      margin-left: 0;
    }
    li {
      list-style-type: none;
      input[type="checkbox"] {
        position: absolute;
        margin: 6px 10px;
        cursor: pointer;
        opacity: 0;
      }
      label {
        display: block;
        //@include prepend-icon('\f105')
        a::before {
          margin-right: 5px;
          font-family: "FontAwesome";
          content: "\f105";
        }
      }
      input ~ ul {
        display: none;
      }
      input:checked {
        & ~ ul {
          display: block;
        }
        & ~ label a::before {
          content: "\f107";
        }
      }
      a {
        display: block;
        padding: 7px 15px;
        margin: 5px 0;
        line-height: 1.2;
        color: $gray-600;
        border-radius: $border-radius;
        @extend .transition-hover-slow;
        &:hover {
          color: $secondary;
          text-decoration: none;
          background-color: rgba($secondary, .075);
          @extend .transition-hover-fast;
        }
        &.active,
        &:active {
          color: $secondary;
          background-color: rgba($secondary, .2);
        }
      }
    }
  }
}

.sidebar-left {
  border-radius: $border-radius 0 0 $border-radius;
}
.sidebar-right {
  border-radius: 0 $border-radius $border-radius 0;
}

.sidebar + .main-content {
  width: calc(100% - #{$sidebar-width});
  border-radius: 0 $border-radius $border-radius 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .05);
}

// .sidebar-mobile {
//   margin-right: auto;
//   display: none;
//   .sidebar {
//     display: block;
//     position: fixed;
//     width: 100%;
//     left: 0;
//     right: 0;
//     top: 46px;
//     bottom: 0;
//     background-color: rgba($white, 0.95);
//     visibility: hidden;
//     opacity: 0;
//     z-index: -1;
//     @extend .transition-hover;
//     &-tree {
//       max-height: calc(100vh - 200px);
//     }
//     &-close {
//       display: flex;
//       justify-content: flex-end;
//       padding-bottom: 5px;
//       i {
//         display: inline-block;
//         width: 25px;
//         height: 25px;
//         line-height: 25px;
//         text-align: center;
//         border-radius: 50%;
//         background-color: $gray-600;
//         color: white;
//       }
//     }
//   }
//   input[type=checkbox] {
//     display: block;
//     width: 100px;
//     height: 30px;
//     position: absolute;
//     top: -2px;
//     left: -4px;
//     cursor: pointer;
//     opacity: 0; /* hide this */
//     z-index: 2; /* and place it over the hamburger */
//     -webkit-touch-callout: none;
//   }
//   input[type=checkbox]:checked ~ .sidebar {
//     visibility: visible;
//     opacity: 1;
//     z-index: 1000;
//     @extend .transition-hover;
//   }
//   .ic-burger {
//     color: $gray-600;
//     font-size: 1rem;
//   }
//   .input-searchbar {
//     @extend .p-0;
//     @extend .mb-2;
//     .ic-search {
//       left: 15px;
//       top: 9px;
//     }
//   }
// }
.sidebar.offcanvas {
  background-color: rgba($white, .95);
  z-index: 1060; // Z-index augmenté pour que ça passe au dessus.
  .sidebar-tree {
    max-height: calc(100vh - 130px);
  }
}

@include media-breakpoint-down(lg) {
  .sidebar {
    display: none;
    width: 400px;
    background-color: $white;
  }
  .sidebar.sidebar-mobile {
    display: block;
  }
  .sidebar + .main-content {
    width: 100%;
    border-radius: $border-radius;
  }
}
