.sticky-toolbox {
    position: fixed;
    display: none;
    top: 100px;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: $white;
    transform: translateX(100%);

    @include add-transitions(transform);

    &.open {
        display: block;
        transform: translateX(0);
    }

    .link-tool {
        position: absolute;
        width: 50px;
        padding: 5px 10px;
        font-size: 1.5em;
        color: $white;
        cursor: pointer;
        background: $primary;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        transform: translate(-100%, 0);
    }

    .content {
        overflow: auto;
        width: 400px;
        height: 100%;
        padding: 20px 30px;
        background: $third;
    }

    .title {
        margin: 0 0 10px;
        font-weight: 700;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    .bt {
        display: block;
        color: $white;
        text-align: center;
        text-decoration: none;
        background: $cyan;
        border-radius: 0;

        @include background-color-to(rgba($cyan, 0.6));

        &.selected {
            background: $primary;
        }
    }

    [class*="buttons-"] {
        margin-right: -5px;
        margin-left: -5px;

        > .col,
        > [class*="col-"] {
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px;
        }
    }

    .buttons-theme {
        .bt {
            padding: 20px 10px;
        }
    }

    .buttons-widget {
        .bt {
            .inner {
                position: relative;
                display: block;
                padding-top: 100%;
            }

            i {
                position: absolute;
                top: 0;
                font-size: 2em;

                @include have-child-in-middle();
                @include square(100%);
            }
        }
    }

    .bt-lang {
        margin-bottom: 15px;
        color: $white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        .flag {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            filter: saturate(0);

            @include add-transitions(filter);
        }

        &.selected {
            .flag {
                filter: saturate(1);
            }
        }

        &:hover:not(.selected) {
            .flag {
                filter: saturate(0.3);
            }
        }
    }
}
